In [23]:
# Importing packages

import csv
import pandas as pd
import numpy as np
import datetime as dt

In [16]:
# Creating an empty dataframe for average correlations

corrs = pd.DataFrame(index = range(len(income)))

In [31]:
# Importing Net Income and deleting empty rows

income = pd.read_csv("Bloomberg/net_income_proper.csv", encoding='ISO-8859-1')
print(len(income))
columns = list(income.columns)
columns.pop(0)
income = income[income[columns].sum(axis=1) != 0]
print(len(income))
print(income.head())

2556
1764
  Unnamed: 0  1995-01-31  1995-02-28  1995-03-31  1995-04-30  1995-05-31  \
0    2662 HK         0.0         0.0         0.0         0.0         0.0
1    8233 HK         0.0         0.0         0.0         0.0         0.0
2   GCULF US         0.0         0.0         0.0         0.0         0.0
3     IUB MK         0.0         0.0         0.0         0.0         0.0
4    8609 JP         0.0         0.0         0.0         0.0         0.0

   1995-06-30  1995-07-31  1995-08-31  1995-09-30     ...      2015-09-30  \
0         0.0         0.0         0.0         0.0     ...           0.000
1         0.0         0.0         0.0         0.0     ...           5.458
2         0.0         0.0         0.0         0.0     ...         -23.291
3         0.0         0.0         0.0         0.0     ...           0.196
4         0.0         0.0         0.0         0.0     ...        1659.000

   2015-10-31  2015-11-30  2015-12-31  2016-01-31  2016-02-29  2016-03-31  \
0         0.0         0.0     -34.211         0.0         0.0       0.000
1         0.0         0.0      11.492         0.0         0.0       1.513
2         0.0         0.0       0.000         0.0         0.0      -9.037
3         0.0         0.0      -0.808         0.0         0.0      -0.314
4         0.0         0.0    2955.000         0.0         0.0    1813.000

   2016-04-30  2016-05-31  2016-06-30
0         0.0         0.0     -17.467
1         0.0         0.0      13.476
2         0.0         0.0       0.000
3         0.0         0.0       1.255
4         0.0         0.0    2877.000

[5 rows x 259 columns]

In [32]:
# Importing rock_solid_truth and Companies-IDs dictionary

truth = pd.read_csv("Merged/rock_solid_truth.csv", encoding='ISO-8859-1')
truth = truth[['Cname Short', 'Ticker']]
truth.columns = ['Company Name', 'Ticker']
truth['Company Name'] = truth['Company Name'].str.upper()
print(len(truth))
print(truth.head())

dictionary = pd.read_csv('Merged/real_companies_dict.csv', encoding='ISO-8859-1')
print(len(dictionary))
print(dictionary.head())

6240
           Company Name    Ticker
0  ASIA PAYMENT SYSTEMS       NaN
1  THOMAS LEE & PARTNER       NaN
2  FITTEC INTERNATIONAL   2662 HK
3  CIG YANGTZE PORTS PL   8233 HK
4  SPARKLE ROLL GROUP L  GCULF US
5554
   Unnamed: 0          Company Name  Company ID
0           0    (CA)SUPERIOR COURT           0
1           1     (CO)SUPREME COURT           1
2           2  (IDN)MINISTRY OF FIN           2
3           3  (IDN)OFFICE OF THE P           3
4           4  (ISR)OFFICE OF PRIME           4

In [33]:
# Removing duplicates

truth = truth[~truth['Company Name'].duplicated()]
print(len(truth))

5554

In [34]:
# Merging IDs and Tickers

truth = pd.merge(dictionary, truth, how = 'left')
del truth['Company Name']
del truth['Unnamed: 0']
truth.columns = ['Company Name', 'Unnamed: 0']
print(len(truth))
print(truth.head())

5554
   Company Name  Unnamed: 0
0             0         NaN
1             1  313372L US
2             2    1133Z IJ
3             3         NaN
4             4         NaN

In [35]:
# Adding income to the table

income = pd.merge(truth, income, how = 'left')
del income['Unnamed: 0']
print(len(income))
print(income.head())

5554
   Company Name  1995-01-31  1995-02-28  1995-03-31  1995-04-30  1995-05-31  \
0             0         NaN         NaN         NaN         NaN         NaN
1             1         NaN         NaN         NaN         NaN         NaN
2             2         NaN         NaN         NaN         NaN         NaN
3             3         NaN         NaN         NaN         NaN         NaN
4             4         NaN         NaN         NaN         NaN         NaN

   1995-06-30  1995-07-31  1995-08-31  1995-09-30     ...      2015-09-30  \
0         NaN         NaN         NaN         NaN     ...             NaN
1         NaN         NaN         NaN         NaN     ...             NaN
2         NaN         NaN         NaN         NaN     ...             NaN
3         NaN         NaN         NaN         NaN     ...             NaN
4         NaN         NaN         NaN         NaN     ...             NaN

   2015-10-31  2015-11-30  2015-12-31  2016-01-31  2016-02-29  2016-03-31  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2016-04-30  2016-05-31  2016-06-30
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

[5 rows x 259 columns]

In [29]:
# Adding average YEAR net incomes and check if there are existing values

date_columns = list(income.columns)
date_columns.pop(0)

income_test = income.copy()
income_test[date_columns] = income_test[date_columns].where(income_test != 0 , np.nan) 

for i in range(1995, 2016):
    income_test[i] = income_test[date_columns[(i - 1995)*12:((i - 1995)*12 + 12)]].mean(axis = 1)
income_test[2016] = income_test[date_columns[(len(date_columns) - 6):len(date_columns)]].mean(axis = 1)

all_columns = list(income_test.columns)
avg_income_columns = [i for i in range(1995, 2017)]
print(income_test[avg_income_columns].head())

print(income_test.loc[109])

   1995  1996  1997  1998  1999  2000  2001  2002  2003  2004  ...   2007  \
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
2   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[5 rows x 22 columns]
Company Name    109.00000
1995-01-31            NaN
1995-02-28            NaN
1995-03-31        4.45900
1995-04-30            NaN
1995-05-31            NaN
1995-06-30        5.07600
1995-07-31            NaN
1995-08-31            NaN
1995-09-30        5.66100
1995-10-31            NaN
1995-11-30            NaN
1995-12-31        5.07200
1996-01-31            NaN
1996-02-29            NaN
1996-03-31        5.73500
1996-04-30            NaN
1996-05-31            NaN
1996-06-30        7.28800
1996-07-31            NaN
1996-08-31            NaN
1996-09-30        8.53300
1996-10-31            NaN
1996-11-30            NaN
1996-12-31       11.67600
1997-01-31            NaN
1997-02-28            NaN
1997-03-31       12.73800
1997-04-30            NaN
1997-05-31            NaN
                  ...
2015-11-30            NaN
2015-12-31            NaN
2016-01-31            NaN
2016-02-29            NaN
2016-03-31            NaN
2016-04-30            NaN
2016-05-31            NaN
2016-06-30            NaN
1995              5.06700
1996              8.30800
1997             10.82075
1998             18.75100
1999             24.51700
2000             30.09675
2001             42.80450
2002             68.39500
2003            125.80575
2004             95.07675
2005            105.34700
2006             74.33925
2007             66.84325
2008             85.10550
2009             88.89625
2010                  NaN
2011                  NaN
2012                  NaN
2013                  NaN
2014                  NaN
2015                  NaN
2016                  NaN
Name: 109, dtype: float64

In [8]:
income = income_test.copy()
print(income[avg_income_columns].head())

   1995  1996  1997  1998  1999  2000  2001  2002  2003  2004  ...   2007  \
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
2   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[5 rows x 22 columns]

In [9]:
# Creating matrix of Income YEAR correlations

income_transposed = income[avg_income_columns].transpose()
income_matrix = income_transposed.corr()
print(len(income_matrix))
print(income_matrix)
income_matrix.to_csv('Bloomberg/income_correlations_year.csv')

5554
      0     1     2     3     4     5     6     7     8     9     ...   5544  \
0      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
1      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
2      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
3      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
4      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
6      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
7      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
8      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
9      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
10     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
11     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
12     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
13     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
14     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
15     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
16     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
17     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
18     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
19     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
20     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
21     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
22     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
23     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
24     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
25     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
26     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
27     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
28     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
29     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...    ...
5524   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5525   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5526   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5527   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5528   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5529   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5530   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5531   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5532   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5533   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5534   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5535   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5536   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5537   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5538   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5539   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5540   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5541   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5542   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5543   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5544   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5545   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5546   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5547   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5548   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5549   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5550   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5551   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5552   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5553   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN

      5545      5546      5547      5548      5549  5550      5551  5552  5553
0      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
1      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
2      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
3      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
4      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
6      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
7      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
8      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
9      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
10     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
11     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
12     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
13     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
14     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
15     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
16     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
17     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
18     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
19     NaN -0.671172 -0.846278  0.486811  1.000000   NaN  0.570168   NaN   NaN
20     NaN -0.258542 -0.575005  0.551696  0.290687   NaN  0.402987   NaN   NaN
21     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
22     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
23     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
24     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
25     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
26     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
27     NaN  0.334141  0.848711  0.557288  0.351503   NaN -0.482400   NaN   NaN
28     NaN  0.871954  0.649049 -1.000000       NaN   NaN  0.171202   NaN   NaN
29     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
...    ...       ...       ...       ...       ...   ...       ...   ...   ...
5524   NaN  1.000000 -1.000000       NaN       NaN   NaN -1.000000   NaN   NaN
5525   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5526   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5527   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5528   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5529   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5530   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5531   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5532   NaN -0.482280  0.205607  0.270454 -0.139425   NaN -0.116757   NaN   NaN
5533   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5534   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5535   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5536   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5537   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5538   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5539   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5540   NaN -0.250851  0.210996 -0.575463  0.278496   NaN -0.005872   NaN   NaN
5541   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5542   NaN -0.518921 -1.000000       NaN  1.000000   NaN  0.942119   NaN   NaN
5543   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5544   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5545   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5546   NaN  1.000000  0.450809  0.405064  0.416682   NaN  0.011001   NaN   NaN
5547   NaN  0.450809  1.000000  0.353730 -1.000000   NaN -0.115808   NaN   NaN
5548   NaN  0.405064  0.353730  1.000000       NaN   NaN  0.950924   NaN   NaN
5549   NaN  0.416682 -1.000000       NaN  1.000000   NaN  0.124446   NaN   NaN
5550   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5551   NaN  0.011001 -0.115808  0.950924  0.124446   NaN  1.000000   NaN   NaN
5552   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5553   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN

[5554 rows x 5554 columns]

In [18]:
# Adding a column with average correlations

income_matrix['Year Avg Corrs'] = income_matrix[income_matrix.columns].mean(axis = 1)
corrs['Income Year Corrs'] = (len(income) * income_matrix['Year Avg Corrs'] - 1) / (len(income) - 1)

In [36]:
# Adding average QUARTER net incomes and check if there are existing values

date_columns = list(income.columns)
date_columns.pop(0)

income_test = income.copy()
income_test[date_columns] = income_test[date_columns].where(income_test != 0 , np.nan) 

# Creating a vector of dates from 31.01.1995 to 30.06.2016
avg_income_columns = []
for i in range(1995, 2017):
    for j in range(1, 13, 3):
        avg_income_columns.append(dt.date(i, j, 1) - dt.timedelta(days = 1))
avg_income_columns.pop(0)
avg_income_columns.pop(len(avg_income_columns)-1)

first_date = 0
for i in avg_income_columns[:-1]:
    last_date = first_date + 3
    income_test[i] = income_test[date_columns[first_date : last_date]].mean(axis = 1)
    first_date = last_date
income_test[dt.date(2016,6,30)] = income_test[date_columns[(len(date_columns) - 3):len(date_columns)]].mean(axis = 1)

all_columns = list(income_test.columns)

print(income_test[avg_income_columns].head())

   1995-03-31  1995-06-30  1995-09-30  1995-12-31  1996-03-31  1996-06-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   1996-09-30  1996-12-31  1997-03-31  1997-06-30     ...      2014-03-31  \
0         NaN         NaN         NaN         NaN     ...             NaN
1         NaN         NaN         NaN         NaN     ...             NaN
2         NaN         NaN         NaN         NaN     ...             NaN
3         NaN         NaN         NaN         NaN     ...             NaN
4         NaN         NaN         NaN         NaN     ...             NaN

   2014-06-30  2014-09-30  2014-12-31  2015-03-31  2015-06-30  2015-09-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2015-12-31  2016-03-31  2016-06-30
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

[5 rows x 86 columns]

In [37]:
income = income_test.copy()
print(income[avg_income_columns].head())

   1995-03-31  1995-06-30  1995-09-30  1995-12-31  1996-03-31  1996-06-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   1996-09-30  1996-12-31  1997-03-31  1997-06-30     ...      2014-03-31  \
0         NaN         NaN         NaN         NaN     ...             NaN
1         NaN         NaN         NaN         NaN     ...             NaN
2         NaN         NaN         NaN         NaN     ...             NaN
3         NaN         NaN         NaN         NaN     ...             NaN
4         NaN         NaN         NaN         NaN     ...             NaN

   2014-06-30  2014-09-30  2014-12-31  2015-03-31  2015-06-30  2015-09-30  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   2015-12-31  2016-03-31  2016-06-30
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

[5 rows x 86 columns]

In [38]:
# Creating matrix of Income QUARTER correlations

income_transposed = income[avg_income_columns].transpose()
income_matrix = income_transposed.corr()
print(len(income_matrix))
print(income_matrix)
income_matrix.to_csv('Bloomberg/income_correlations_quarter.csv')

5554
      0     1     2     3     4     5     6     7     8     9     ...   5544  \
0      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
1      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
2      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
3      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
4      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
6      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
7      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
8      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
9      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
10     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
11     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
12     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
13     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
14     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
15     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
16     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
17     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
18     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
19     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
20     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
21     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
22     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
23     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
24     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
25     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
26     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
27     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
28     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
29     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...    ...
5524   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5525   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5526   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5527   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5528   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5529   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5530   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5531   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5532   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5533   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5534   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5535   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5536   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5537   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5538   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5539   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5540   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5541   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5542   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5543   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5544   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5545   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5546   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5547   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5548   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5549   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5550   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5551   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5552   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN
5553   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...    NaN

      5545      5546      5547      5548      5549  5550      5551  5552  5553
0      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
1      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
2      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
3      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
4      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
6      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
7      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
8      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
9      NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
10     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
11     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
12     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
13     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
14     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
15     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
16     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
17     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
18     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
19     NaN -0.428177 -0.761067  0.374426 -1.000000   NaN       NaN   NaN   NaN
20     NaN -0.039022 -0.588122 -0.235749 -0.025513   NaN       NaN   NaN   NaN
21     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
22     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
23     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
24     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
25     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
26     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
27     NaN  0.291416       NaN -0.232558  0.923052   NaN -0.146233   NaN   NaN
28     NaN -0.866765       NaN  1.000000       NaN   NaN  0.055556   NaN   NaN
29     NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
...    ...       ...       ...       ...       ...   ...       ...   ...   ...
5524   NaN -0.142252 -0.577656       NaN  0.431330   NaN  1.000000   NaN   NaN
5525   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5526   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5527   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5528   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5529   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5530   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5531   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5532   NaN -0.112579  0.272079  0.837249  0.906601   NaN       NaN   NaN   NaN
5533   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5534   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5535   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5536   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5537   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5538   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5539   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5540   NaN -0.001586  0.120546  0.002790  0.774619   NaN -0.105725   NaN   NaN
5541   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5542   NaN -0.569227       NaN       NaN -1.000000   NaN  1.000000   NaN   NaN
5543   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5544   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5545   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5546   NaN  1.000000  0.212923  0.192105  0.233009   NaN -0.167459   NaN   NaN
5547   NaN  0.212923  1.000000 -0.341241 -0.827605   NaN       NaN   NaN   NaN
5548   NaN  0.192105 -0.341241  1.000000       NaN   NaN -0.355182   NaN   NaN
5549   NaN  0.233009 -0.827605       NaN  1.000000   NaN -0.543955   NaN   NaN
5550   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5551   NaN -0.167459       NaN -0.355182 -0.543955   NaN  1.000000   NaN   NaN
5552   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN
5553   NaN       NaN       NaN       NaN       NaN   NaN       NaN   NaN   NaN

[5554 rows x 5554 columns]

In [39]:
# Adding a column with average correlations

income_matrix['Quarter Avg Corrs'] = income_matrix[income_matrix.columns].mean(axis = 1)
corrs['Income Quarter Corrs'] = (len(income) * income_matrix['Quarter Avg Corrs'] - 1) / (len(income) - 1)

In [40]:
corrs.to_csv('Bloomberg/average_corrs.csv')