In [1]:
# Importing the original table
import csv
import pandas as pd

panama_list = pd.read_csv("Merged/Original Panama Names for the Dictionary.csv", encoding='ISO-8859-1')
panama_list = panama_list.values.tolist()
#print(panama_list)

In [2]:
# Importing thee list of unique names

unique = pd.read_excel("Merged/Unique list of names.xlsx")
unique = unique.values.tolist()
#print(unique)

In [6]:
# Finding names akin to Bloomberg names

for q in range(2254, len(unique)):
    repeat = 1
    while repeat != 0:
        print(q, "Panama name:    ", unique[q])
        bloomberg = input("Enter a string of words: ")
        bloomberg_list = bloomberg.split()
        good = []
        for i in range(len(panama_list)):
            in_panama = True
            panama_low = str(panama_list[i][0]).lower()
            for j in range(len(bloomberg_list)):
                if bloomberg_list[j] not in panama_low:
                    in_panama = False
            if in_panama == True:
                separate_name = True
                for j in range(len(bloomberg_list)):
                    index = panama_low.index(bloomberg_list[j])
                    alphabet = [chr(p) for p in range(ord('a'),ord('z')+1)]
                    if ((index != 0) and (panama_low[index-1] in alphabet)) or ((index + len(bloomberg_list[j]) != len(panama_low) and (panama_low[index+len(bloomberg_list[j])] in alphabet))):
                        separate_name = False
                if separate_name == True:
                    good.append([panama_list[i][0], panama_list[i][1], panama_list[i][2]])
        good_table = pd.DataFrame(good)
        print(good_table)
        repeat = int(input("Once again?   "))
    hurry_up = input("Hurry up!   ")
    
    # Importing a temporary file

    data = pd.read_excel("Merged/Temporary file for dictionary creation.xlsx", header = None)
    data = data.values.tolist()
    data_new = [[" ", " ", " ", " ", " "]]
    for i in range(len(data)):
        not_nan = False
        row = [unique[q][0], unique[q][1], " ", " ", " "]
        for j in range(len(data[i])-1,0, -1):
            if (str(data[i][j]) != "nan") and (not_nan == False):
                not_nan = True
                row[2], row[3], row[4] = str(data[i][1]), data[i][j-1], data[i][j]
                for k in range(2, j-1):
                    row[2] = row[2] + " " + str(data[i][k])
        data_new.append(row)     
    print("  ")

    with open('Merged/Perfect dictionary.csv', 'a') as f:
        writer = csv.writer(f)
        for i in range(len(data_new)):
            writer.writerow(data_new[i])

2254 Panama name:     ['Hong Kong', 'ma qing']
Enter a string of words: dfdfb
Empty DataFrame
Columns: []
Index: []
Once again?   0
Hurry up!

2255 Panama name:     ['Hong Kong', 'chan kok wai "peter"']
Enter a string of words: chan kok wai
              0         1                                 2
0  CHAN Kok Wai  12202909  9E25BDFE534294026299BF8EB94DFD0B
Once again?   0
Hurry up!

2256 Panama name:     ['Hong Kong', 'lau chun pong']
Enter a string of words: lau chun pong
               0         1                                 2
0  Lau Chun Pong  12204592  EA99A5C7DF52F9192F345B71DA25F62C
Once again?   0
Hurry up!

2257 Panama name:     ['Hong Kong', 'dang yanbao']
Enter a string of words: yanbao
             0         1                                 2
0  DANG YANBAO  12107868  78BFA70970C109D9DDB0EBB362F9D17B
1  DANG YANBAO  12114107  5967DB857B528AE8004229EC7ABD5649
2  DANG YANBAO  13003660  78BFA70970C109D9DDB0EBB362F9D17B
3   DAN YANBAO  12111074  C672A30B25FD5BF625BC600BFFD207BE
4  DANG YANBAO  12205829  23970B6FA67BB2F087591B13AA7FCBC5
Once again?   0
Hurry up!

2258 Panama name:     ['Hong Kong', 'lee yiu ming']
Enter a string of words: lee yiu ming
                       0         1                                 2
0     Lee Yiu Ming, Eric  12160208  9D19558F74DE667DEEE6F83252E18A6D
1  LEE, YIU MING RICHARD  12160834  4EAA90D57AAE79A68BF4FBA9A8A70F7A
2           LEE YIU MING  12205848  7EA9EF16B7BE7952A21419650E95548E
Once again?   0
Hurry up!

2259 Panama name:     ['Hong Kong', 'tam chun fai "jimmy"']
Enter a string of words: tam chun fai
              0         1                                 2
0  TAM Chun Fai  12206044  D5DB7DFA408D011381F6110E018E189E
Once again?   0
Hurry up!

2260 Panama name:     ['Hong Kong', 'huang quan']
Enter a string of words: huang quan
            0         1                                 2
0  HUANG QUAN  12185903  F5C430C21153EA8AB8F8C4113CEE9817
1  HUANG QUAN  12209858  890F43765CA97E755CAF6B4539C44945
2  HUANG QUAN  12206944  9A49562565B558C211403D5DE3441A62
Once again?   0
Hurry up!

2261 Panama name:     ['Hong Kong', 'leung wai chung']
Enter a string of words: leung wai chung
                 0         1                                 2
0  LEUNG WAI CHUNG  12207618  695B694DBA52CF2C6CFD2EDAEAAC0AED
Once again?   0
Hurry up!

2262 Panama name:     ['Hong Kong', 'ng tang "david"']
Enter a string of words: ng tang
         0         1                                 2
0  NG TANG  12209233  4AB4C236A6A8E76D892C51D441794CA9
1  NG TANG  13003507  4AB4C236A6A8E76D892C51D441794CA9
Once again?   0
Hurry up!

2263 Panama name:     ['Hong Kong', 'dang zidong']
Enter a string of words: dang zidong
             0         1                                 2
0  DANG ZIDONG  12209331  77208520B84D57B3F931110C24BBD546
1  Dang Zidong  13005737  77208520B84D57B3F931110C24BBD546
Once again?   0
Hurry up!

2264 Panama name:     ['Saudi Arabia', 'dr shujaat nadeem']
Enter a string of words: shujaat nadeem
                    0         1                                 2
0  DR. SHUJAAT NADEEM  12209397  1C72404C48FA0AFBE8812595EE4BD515
Once again?   0
Hurry up!

2265 Panama name:     ['Hong Kong', 'cheng hop fai']
Enter a string of words: cheng hop fai
               0         1                                 2
0  CHENG HOP FAI  12211628  1D02EAD429F29F430A6E4989D3AFAD7D
Once again?   0
Hurry up!

2266 Panama name:     ['Hong Kong', 'cheung ying kwan']
Enter a string of words: cheung ying kwan
                  0         1                                 2
0  CHEUNG YING KWAN  12211720  1C801D77F6476F623D47DEA63E99C98A
Once again?   0
Hurry up!

2267 Panama name:     ['Brazil', 'meyer joseph nigri']
Enter a string of words: meyer nigri
                    0         1                                 2
0  Meyer Joseph Nigri  12211989  3664B7C274B8BB68CC658ECC90DDFAAE
1  Meyer Joseph Nigri  13003016  3664B7C274B8BB68CC658ECC90DDFAAE
Once again?   0
Hurry up!

2268 Panama name:     ['Hong Kong', 'yiu kwan tat']
Enter a string of words: yiu kwan tat
              0         1                                 2
0  YIU KWAN TAT  12222353  54E68D8CCAB17D338834F2202869992D
Once again?   0
Hurry up!

2269 Panama name:     ['Virgin Islands, British', 'chen jiming']
Enter a string of words: chen jiming
             0         1                                 2
0  CHEN JIMING  12224499  6636063C04E9733728BF12C07BC79049
Once again?   0
Hurry up!

2270 Panama name:     ['Morocco', 'jacqueline mathias']
Enter a string of words: jacqueline mathias
                    0         1                                 2
0  Jacqueline Mathias  13000022  01683F0287B4DE160F73077B237DCA99
Once again?   0
Hurry up!

2271 Panama name:     ['Peru', 'erasmo jesus rolando wong lu vega']
Enter a string of words: erasmo vega
                                   0         1  \
0  ERASMO JESUS ROLANDO WONG LU VEGA  13003357

                                  2
0  4ABBFEB922D9AE71135A2295291A61BC
Once again?   0
Hurry up!

2272 Panama name:     ['Singapore', 'wong fong fui']
Enter a string of words: wong fong fui
                             0         1                                 2
0  WONG AH WAH (WONG FONG FUI)  12117782  AC8B40749B3D172E8635B6C388B9BDB0
1                Wong Fong Fui  13004097  39371E3F89B0DA2DBC1833613AE690A9
Once again?   0
Hurry up!

2273 Panama name:     ['Luxembourg', 'john broadhurst mills']
Enter a string of words: john mills
                       0         1                                 2
0  John Broadhurst Mills  13004252  6A7D5A05370664792FDF3F84C24C0A4F
1  John Broadhurst Mills  13001255  19D825A2176CCB8EE333004ACCABD3D3
Once again?   0
Hurry up!

2274 Panama name:     ['United States', 'dr kanwar deep singh']
Enter a string of words: kanwar deep singh
                   0         1                                 2
0  Kanwar Deep Singh  13004367  5AB21159434D15A548D10CCFE90D7608
Once again?   0
Hurry up!

2275 Panama name:     ['Lebanon', 'iskandar safa']
Enter a string of words: iskandar safa
               0         1                                 2
0  ISKANDAR SAFA  13004743  60932CB640927D665692B513EBC9B55B
Once again?   0
Hurry up!

2276 Panama name:     ['Nigeria', 'jubril adewale tinubu "wale"']
Enter a string of words: jubril tinubu
                       0         1                                 2
0  JUBRIL ADEWALE TINUBU  13005100  7322A326FA9EE618168A574455746162
Once again?   0
Hurry up!

2277 Panama name:     ['Guernsey', 'richard godfrey battersby']
Enter a string of words: battersby
                           0         1                                 2
0  RICHARD GODFREY BATTERSBY  13006378  81CC68E9E8DD385D3D08C3701F84BB53
1  RICHARD GODFREY BATTERSBY  13007050  A3067C60CFC1A9713D7C8A30789B71BD
Once again?   0
Hurry up!

2278 Panama name:     ['Singapore', 'anthoni salim']
Enter a string of words: anthoni salim
               0         1                                 2
0  ANTHONI SALIM  13006803  949297590072A1C69EE02FDBF4F71E10
Once again?   0
Hurry up!

2279 Panama name:     ['United Arab Emirates', 'sadruddin hashwani']
Enter a string of words: sadruddin hashwani
                    0         1                                 2
0  SADRUDDIN HASHWANI  13006972  9A294F1314EC1D790738B1116EE92FB9
Once again?   0
Hurry up!

2280 Panama name:     ['Virgin Islands, British', 'michael joseph sampoerna']
Enter a string of words: sampoerna
                                      0         1  \
0                      PUTERA SAMPOERNA  12000238
1  SAMPOERNA STRATEGIC HOLDINGS LIMITED  12214736
2               SAMPOERNA PROPERTY LTD.  12194649
3                      Putera Sampoerna  13002031
4              MICHAEL JOSEPH SAMPOERNA  13007117
5                      Putera Sampoerna  13010479

                                  2
0  9F63843B193E3032F6EF9FD833CA7480
1  67727323F0EEABE4C59DCE73F1C472AB
2  32B08A1D3719962B1D43F05E5A29941B
3  217458575943A6C3BD04799216524D48
4  974F905664CA5F28296800B26C25513B
5  F9AE7A46A020D304F68F6183191A2FB2
Once again?   0
Hurry up!

2281 Panama name:     ['Hong Kong', 'ou junming']
Enter a string of words: ou junming
            0         1                                 2
0  OU Junming  13007522  61F74FDF8F2AEE5ACDA612F30B5352FC
Once again?   0
Hurry up!

2282 Panama name:     ['Singapore', 'ronald walla']
Enter a string of words: ronald walla
              0         1                                 2
0  Ronald Walla  13007749  B4551E45C6984FF4768A3FE5E8DF14AF
Once again?   0
Hurry up!

2283 Panama name:     ['Indonesia', 'airlangga hartarto']
Enter a string of words: airlangga hartarto
                    0         1                                 2
0  AIRLANGGA HARTARTO  13007923  9BD4BEB024F9FF47A99A1B36D0BD6414
Once again?   0
Hurry up!

2284 Panama name:     ['Ireland', 'cemil tokel']
Enter a string of words: cemil tokel
             0         1                                 2
0  Cemil Tokel  13007957  CE852B4E6DDB48AB69506CB2F2D56ECE
Once again?   0
Hurry up!

2285 Panama name:     ['Turkey', 'inan kirac']
Enter a string of words: inan kirac
            0         1                                 2
0  INAN KIRAC  13008013  BFFDD9689A52FD50C449F97332AF0011
Once again?   0
Hurry up!

2286 Panama name:     ['Australia', 'khoo gee choo']
Enter a string of words: khoo gee choo
               0         1                                 2
0  Khoo Gee Choo  13008074  AC3B9E5DE064D8FFD73129675C8CD2DC
1  Khoo Gee Choo  12145332  3D8749DA2FDF00450103CD5A05ED4FD0
Once again?   0
Hurry up!

2287 Panama name:     ['Malaysia', 'datuk azmi bin ahmad']
Enter a string of words: azmi bin ahmad
                0         1                                 2
0  AZMI BIN AHMAD  13008437  C8DC472DC4E6EC9A538BB5F68C09B856
Once again?   0
Hurry up!

2288 Panama name:     ['Italy', 'luca barilla']
Enter a string of words: luca barilla
              0         1                                 2
0  Luca Barilla  13008928  D701AF1DC9F8FD76C1DC6DD5E6419371
Once again?   0
Hurry up!

2289 Panama name:     ['Dominica', 'winston chitando']
Enter a string of words: winston chitando
                            0         1                                 2
0            Winston Chitando  13009207  CB1E1310AEFFA9AD44188A4FCCDB5AD4
1  Tinotenda Winston Chitando  13012780  C30DC227CF87F3E8BBC8E9C0584CFEF9
Once again?   0
Hurry up!

2290 Panama name:     ['Hong Kong', 'tang shouchun']
Enter a string of words: tang shouchun
               0         1                                 2
0  Tang Shouchun  13009782  EA4C0B3EC29157850CAD11E4F055891C
Once again?   0
Hurry up!

2291 Panama name:     ['Macao', 'cheng yung pun']
Enter a string of words: cheng yung pun
                0         1                                 2
0  CHENG YUNG PUN  13009955  F6E8F66239D3F6964E82357B76FA44D4
1  CHENG YUNG PUN  12142636  F6E8F66239D3F6964E82357B76FA44D4
Once again?   0
Hurry up!

2292 Panama name:     ['Singapore', 'tan lian huat']
Enter a string of words: tan lian huat
               0         1                                 2
0  TAN LIAN HUAT  13011835  F006BECCE48E94990B45AF7D7414FF06
1  TAN LIAN HUAT  12143142  F006BECCE48E94990B45AF7D7414FF06
Once again?   0
Hurry up!

2293 Panama name:     ['Singapore', 'willy walla']
Enter a string of words: willy walla
             0         1                                 2
0  Willy Walla  13011875  F58BF4A86B2A65674CE1E574279C9C80
Once again?   0
Hurry up!

2294 Panama name:     ['Mexico', 'ricardo benjamin salinas pliego']
Enter a string of words: ricardo pliego
                                 0         1                                 2
0  RICARDO BENJAMIN SALINAS PLIEGO  13012038  450DBCE9CD3D80283C7A40C908739787
Once again?   0
Hurry up!

2295 Panama name:     ['Hong Kong', 'shum siu hung']
Enter a string of words: shum siu hung
               0         1                                 2
0  Shum Siu Hung  13000648  14FAD5485F657EB3EA75F138EF2F24DF
1  SHUM SIU HUNG  13002741  31911DA221978933C837FE6DEE463F30
Once again?   0
Hurry up!

2296 Panama name:     ['Venezuela, Bolivarian Republic of', 'george sokota']
Enter a string of words: george sokota
               0         1                                 2
0  GEORGE SOKOTA  13002335  2BE61801B3DD7BC855ADBA1F8BA79CD3
Once again?   0
Hurry up!

2297 Panama name:     ['Virgin Islands, U.S.', 'wong fun chung']
Enter a string of words: wong fun chung
                0         1                                 2
0  WONG FUN CHUNG  12142260  41C3C73FDB5EDAE3206BCD5C83A6C1A7
Once again?   0
Hurry up!

2298 Panama name:     ['Singapore', 'leong kok ho']
Enter a string of words: leong kok ho
              0         1                                 2
0  HO KOK LEONG  12142975  55182BB14BF6B17724ECE02DF49A07E5
Once again?   0
Hurry up!

2299 Panama name:     ['Mexico', 'carlos alberto rojo macedo']
Enter a string of words: carloso macedo
Empty DataFrame
Columns: []
Index: []
Once again?   1
2299 Panama name:     ['Mexico', 'carlos alberto rojo macedo']
Enter a string of words: carlos macedo
                            0         1                                 2
0  CARLOS ALBERTO ROJO MACEDO  12143621  07B72C08A958142F90D7D0E702D8B1B2
Once again?   0
Hurry up!

2300 Panama name:     ['Benin', 'paul derreumaux']
Enter a string of words: derreumaux
                 0         1                                 2
0  PAUL DERREUMAUX  12144762  DAAA6EBBF943856DD9DA147194EBA150
Once again?   0
Hurry up!

2301 Panama name:     ['Jersey', 'geoffrey john grime']
Enter a string of words: geoffrey grime
                     0         1                                 2
0  GEOFFREY JOHN GRIME  12144722  DD53C17F0C8F7D059AD4B913F691B3DA
Once again?   0
Hurry up!

2302 Panama name:     ['Switzerland', 'bradford alan mills "brad"']
Enter a string of words: bradford mills
                                                   0         1  \
0  BRADFORD ALAN MILLS TRUSTEE FOR ROSS DUDLEY MILLS  12145620
1                                BRADFORD ALAN MILLS  12145621
2    CAROL MILLS TRUSTEE FOR BRADFORD TAYBROOK MILLS  12145622
3  CHERYL MILLS TRUSTTE FOR BRADFORD HOLLBROOK MILLS  12145624
4  BRADFORD ALEN MILLS TRUSTEES FOR ROSS DUDLEY M...  12145628

                                  2
0  668BFF73123BEA04FC6EB615A01328A7
1  EADD1C44C8C6C32188F33886FA10AFF3
2  9931949E84E674311FFBE83C6B487330
3  CE9084B207DEC9D89C738B0854C7F29F
4  A7F27FE0C8147EEB4F6E9FE392C8E942
Once again?   0
Hurry up!

2303 Panama name:     ['Russian Federation', 'igor shekhterman']
Enter a string of words: shekhterman
                  0         1                                 2
0  IGOR SHEKHTERMAN  12145899  1AC694D885EDB47315FE5D0E469E188D
Once again?   0
Hurry up!

2304 Panama name:     ['Singapore', 'franciscus welirang']
Enter a string of words: welirang
                      0         1                                 2
0    RANCISCUS WELIRANG  12169201  074C2F393263AF878745387081B79445
1      JESSICA WELIRANG  12106973  E3ED671779E0A7BBFFD9E323C8E30BBD
2  MS. JESSICA WELIRANG  12120868  83F61F115B8225EFF5B12F2CBE4EC09E
3      JESSICA WELIRANG  12122147  F979D685BFB40789978A525A7811EA91
4   FRANCISCUS WELIRANG  12146266  533BFE0C70FB15664678D8F51F2E28AC
Once again?   0
Hurry up!

2305 Panama name:     ['Indonesia', 'candra ciputra']
Enter a string of words: candra ciputra
                0         1                                 2
0  CANDRA CIPUTRA  12146718  FE2E78CCD47D3127F05C838979368899
Once again?   0
Hurry up!

2306 Panama name:     ['Indonesia', 'cakra ciputra']
Enter a string of words: cakra ciputra
               0         1                                 2
0  CAKRA CIPUTRA  12146719  6EE06CA602D18F7C9850A8620CA3F682
Once again?   0
Hurry up!

2307 Panama name:     ['Colombia', 'juan luis aristizabal velez']
Enter a string of words: juan velez
                                0         1                                 2
0                JUAN PEREZ VELEZ  12172206  CA1F3CC0F08A063455E7A1C332C01592
1      JUAN FERNANDO PELAEZ VELEZ  12151457  BD56AF28B76F7D0F44395D5596F8263D
2   JUAN FERNANDO VELEZ JARAMILLO  12144798  7963A8BCA1A3DC2961042AB24834EF9E
3     JUAN LUIS ARISTIZABAL VELEZ  12146779  1ECF6A25A41608B07C6A46D06043FB37
4      JUAN CARLOS VELEZ RESTREPO  13006540  9790D0D39098CCFA4B5B0FEC94BAA0F7
5  JUAN CARLOS SIMEON VELEZ GADEA  12177225  D2752CCA6055D1822F78C30CB91D7D55
6      JUAN CARLOS VELEZ RESTREPO  12077636  2AEDBADA1664F53C06D0ECE3ECB6739E
Once again?   0
Hurry up!

2308 Panama name:     ['Indonesia', 'harun hajadi']
Enter a string of words: harun hajadi
              0         1                                 2
0  HARUN HAJADI  12146801  5BCD1C10723C28A70B426BF9AFEEA472
Once again?   0
Hurry up!